[Unit]
Description=prometheus node exporter
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
ExecStart=/bin/sh -c "{{ node_exporter_bin_dir }}/node_exporter {% for option in node_exporter_options %}-{{ option }} {% endfor %}> {{ node_exporter_log_file }} 2>&1"
User={{ node_exporter_user }}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
