{% for role in node_exporter_service_roles %}
{% if role is mapping %}
{% for key, value in role.items() %}
machine_{{ key }}{role="{{ value }}"} 1
{% endfor %}
{% else %}
machine_role{role="{{ role }}"} 1
{% endif %}
{% endfor %}
